<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글 상세</title>
</head>
<body>
<h1 th:text="${post.subject}">제목</h1>
<p th:text="${post.content}">내용</p>
<p th:text="'작성일: ' + ${post.written}">작성일</p>

<a href="/posts">목록으로 돌아가기</a>
<form th:action="@{/posts/delete/{id}(id=${post.id})}" method="post">
    <button type="submit">삭제</button>
</form>

<form th:action="@{'/posts/edit/' + ${post.id}}" method="get">
    <button type="submit">수정</button>
</form>

</body>
</html>
